:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-night: #0C0C0C;
    --color-dark-gray: #1A1A1A;
    --color-accent: #0A51CB;
    --color-cobalt-blue: #0740A1;
    --color-platinum: #E3E3E3;

    --border-radius: 36px;
    --border: 2px solid var(--color-light);

    --font-family-base: "Montserrat", sans-serif;

    --button-height: 60px;
    --link-min-heigt: 90px;

    --container-width: 1480px;
    --container-padding-x: 30px;

    --box-shadow-card: 0 8px 15px rgba(0, 0, 0, 0.15);
    --box-shadow-block: 2px 4px 11px 1px rgba(0, 0, 0, 0.25), 2px 4px 11px 1px rgba(0, 0, 0, 0.25);

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-light);
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.07em;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-light);
    text-decoration: none;
}


.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.button {
    display: inline-flex;
    height: var(--button-height);
    align-items: center;
    padding-inline: 35px;
    background-color: transparent;
    color: var(--color-light);
    border-radius: var(--border-radius);
    border: var(--border);
    white-space: nowrap;
}

.button:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.button--primary {
    display: inline-flex;
    height: var(--button-height);
    align-items: center;
    padding-inline: 35px;
    background-color: var(--color-accent);
    color: var(--color-light);
    border-radius: var(--border-radius);
    border: none;
}

.button--primary:hover {
    background-color: var(--color-cobalt-blue);
    color: var(--color-light);
}

h1 {
    font-size: clamp(36px, 2.71vw, 52px);
}

h2 {
    font-size: clamp(32px, 2.18vw, 42px);;
}

h3 {
    font-size: 36px;
}

.header {
    display: flex;
    min-height: 100vh;
}

.header__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    row-gap: 10px;
    padding-block: 15px;
    min-height: var(--link-min-heigt);
    background-color: var(--color-accent);
    color: var(--color-light);
    width: 24%;
}

.header__aside:hover {
    background-color: var(--color-cobalt-blue);
}

.aside__text {
    font-size: clamp(18px, 1.88vw, 38px);
}

.header-actions {
    display: flex;
}

.header-button {
    display: flex;
    align-items: center;
    padding-inline: 78px;
    padding-block: 15px;
    min-height: var(--link-min-heigt);
    white-space: nowrap;
    background-color: var(--color-accent);
}

.header-button:hover {
    background-color: var(--color-cobalt-blue);
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
    width: 100%;
    background-color: var(--color-dark);
    min-height: 117px;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 53px;
}

.header-menu-link {
    display: inline-flex;
    align-items: center;
    min-height: 117px;
}


.header-menu-link:hover {
    color: var(--color-accent)
}

.hero {
    background-image: url('../assets/images/header/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - var(--link-min-heigt));
    width: 100%;
}

.hero__body {
    padding-left: 111px;
    padding-top: 123px;
    margin-right: 30px;
    max-width: 878px;
    color: var(--color-light)
}

.hero__title {
    margin-bottom: 52px;
}

.hero__description {
    font-size: 22px;
    margin-bottom: 67px;
}

@media (max-width: 1480px) {
    .header-menu,
    .header-menu-link {
        min-height: 80px;
    }

    .header-button {
        padding-inline: 50px;
    }
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column-reverse;
    }

    .header__aside {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header-actions {
        flex-direction: column;
    }

    .header-menu,
    .header-menu-link {
        min-height: 50px;
    }

    .hero__body {
        padding-left: 30px;
        padding-top: 30px;
    }

    .hero__title {
        margin-bottom: 22px;
    }

    .hero__description {
        margin-bottom: 27px;
        font-size: 18px;
    }
}

.about-approach {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 114px;
    gap: 100px;
}

.about-approach__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.about-approach__media-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
    min-width: 629px;
    max-width: 629px;
}

.about-approach__media-item {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.about-approach__media--label {
    background-color: var(--color-accent);
    color: var(--color-light);
}

.about-approach__label-text {
    align-self: end;
    font-size: 42px;
    text-align: start;
    padding-bottom: 40px;
    padding-left: 33px;
}

.about-approach__media--wide {
    grid-column: 1 / 3;
    width: 100%;
}

.about-approach__top {
    display: flex;
    justify-content: center;
}

.about-approach__content {
    padding-top: 63px;
    max-width: 720px;
}

.about-approach__title {
    margin-bottom: 34px;
}

.about-approach__description {
    margin-bottom: 40px;
}

.about-approach__card-text,
.about-approach__description {
    color: #404040;
    font-weight: 400;
}

.about-approach__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.about-approach__card {
    display: flex;
    flex-direction: column;
    padding: 64px 39px;
    box-shadow: var(--box-shadow-card);
}

.about-approach__header {
    display: flex;
    gap: 60px;
    margin-bottom: 42px;
}

.about-approach__card-icon {

}

.about-approach__card-title {
    font-size: 18px;
    position: relative;
    width: 65%;
}

.about-approach__card-title::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--color-platinum);
}

@media (max-width: 1280px) {
    .about-approach__media-grid {
        display: none;
    }

    .about-approach__content {
        text-align: center;
    }

    .about-approach__cards {
        display: flex;
        flex-direction: column;
    }
}

.invest {
    min-height: 748px;
    display: flex;
    background-color: var(--color-dark-gray);
    color: var(--color-light)
}

.invest__image-wrapper {
    min-width: 300px;
    max-width: 50%;
    overflow: hidden;
}

.invest__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.invest__content {
    width: 100%;
    padding: 90px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 141px;
}


.invest__intro {
    max-width: 372px;
}

.invest__title {
    margin-bottom: 135px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -62px;
        left: 0;
        width: 58px;
        height: 3px;
        background-color: #fff;
    }
}

.steps__list {
    position: relative;
    max-width: 591px;
    display: flex;
    flex-direction: column;
    gap: 47px;

    &::before {
        content: '';
        position: absolute;
        top: -70px;
        left: 42px;
        transform: translateX(-50%);
        width: 2px;
        height: calc(100% + 140px);
        background-image: url('../assets/images/invest/dotted-line.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 0;
    }
}

.steps__item {
    display: flex;
    align-items: center;
    gap: 38px;
}

.steps__number {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: var(--color-light);
    color: var(--color-accent);
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
}

.steps__item:nth-child(even) .steps__number {
    background-color: var(--color-accent);
    color: white;
}


.steps__title {
    font-size: 18px;
    margin-bottom: 12px;
}

.steps__text {
    font-weight: 400;
}

@media (max-width: 1480px) {
    .invest__content {
        flex-direction: column;
    }

    .invest__intro {
    }
}

@media (max-width: 1024px) {
    .invest__image-wrapper {
        display: none;
    }
}

@media (max-width: 768px) {
    .steps__item {
        gap: 18px;
    }

}

.faq {
    padding-block: 119px;
}

.faq__container {
    display: flex;
    flex-direction: column;
}

.faq__body {
    display: grid;
    grid-template-columns: repeat(2, 53% 47%);
    gap: 17px;
}

.faq__title {
    text-align: center;
    margin-bottom: 115px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
        height: 3px;
        background-color: var(--color-accent);
    }
}

.faq__question {
    display: flex;
    align-items: center;
    padding: 35px 42px;
    box-shadow: var(--box-shadow-card);
}

.faq__question-text {
    margin-inline: 41px;
}

.faq__question-button {
    margin-left: auto;
    color: var(--color-accent)
}

.faq__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq__info {
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: 64px;
    box-shadow: var(--box-shadow-block);
}

@media (max-width: 1024px) {
    .faq__body {
        grid-template-columns: 1fr;
    }
}

.stats {
    background-image: url("../assets/images/stats/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 728px;
    color: var(--color-light);
}

.stats__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 102px;
}

.stats__title {
    padding-top: 110px;
    text-align: center;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
        height: 3px;
        background-color: var(--color-light);
    }
}

.stats__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stats__item {
    display: flex;
    flex-direction: column;
    min-width: 306px;
    gap: 30px;
}

.stats__value {
    font-size: 64px;
    font-weight: 700;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-light);
    }
}

.stats__label {
    font-weight: 400;
}

.stats__actions {
    display: flex;
    gap: 25px;
    margin-bottom: 142px;
}

@media (max-width: 1480px) {
    .stats__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .stats__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .stats__item {
        min-width: 270px;
    }

    .stats__actions {
        flex-direction: column;
    }
}

.footer {
    background-color: var(--color-night);
    color: var(--color-light);
    padding-top: 111px;
    padding-bottom: 218px;
}

.footer__container {
    display: grid;
    grid-template-columns: minmax(300px, 404px) minmax(405px, 505px) minmax(223px, 323px);
    gap: 20px;
    justify-content: space-between;
}

.footer__navigation-title {
    position: relative;
    margin-bottom: 40px;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-light);
    }
}

.footer__navigation-body {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer__column-title {
    position: relative;
    margin-bottom: 40px;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-light);
    }
}

.footer__phone {
    margin-bottom: 40px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 10px;
}

.footer__link {
    transition: var(--transition-duration);

    &:hover {
        color: var(--color-accent)
    }
}

.footer__link-strong {
    font-weight: 700;
}

@media (max-width: 1024px) {
    .footer {
        padding-top: 55px;
        padding-bottom: 109px;
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: space-between;
    }

    .footer__navigation-body {
        display: flex;
        justify-content: start;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .footer__navigation-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}